.nav-content {
  display: flex;
  font-family: 'Montserrat', sans-serif; 
}

.nav-link {
 display: block;
 width: 25%; 
 color: black; 
 text-align: center; 
 font-family: 'Montserrat', sans-serif;
}

a:hover {
  color:#ef897b;
  text-decoration: none;
}
  

.page-header {
 background-image: url("/assets/images/gaia-header.jpg");
 background-size: contain;
 color: white; 
}

body {
  font-family: 'Montserrat Regular', sans-serif;
   background-color: #ededef;
}


.sect-wrap {
    display: flex;

  .text-wrap {
        flex: 1;
        display: flex;
        align-items: center;
       
    }
    .bg-img {
        flex: 1;
    }
}

.butt {
  background-color: #ef897b;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  padding: 4px 8px;
  font-family: 'Montserrat Bold', sans-serif;
}

.main-content h1 {
  color: white; 
  text-align: center;
  font-family: 'Montserrat Black', sans-serif;
}

.main-content h2 {
  color: black;
  text-alight: left;
  font-family: 'Montserrat Black', sans-serif;
}

  

