.nav-content {
  display: flex;
  font-family: 'Monsterrat', sans-serif; 
}

.nav-link {
 display: block;
 width: 20%; 
 color: black; 
 text-align: right; 
}

.page-header {
 background-image: url("/assets/images/gaia-header.jpg");
 background-size: contain;
 font-family: 'Montserrat Black', sans-serif; 
}

body {
  font-family: 'Montserrat Regular', sans-serif;
   background-color: ededef;
}


.sect-wrap {
    display: flex;

  .text-wrap {
        flex: 1;
        display: flex;
        align-items: center;
       
    }
    .bg-img {
        flex: 1;
    }
}

