.nav-content {
  display: flex;
  font-family: 'Monsterrat', sans-serif; 
}

.nav-link {
 display: block;
 width: 20%; 
 color: black; 
 text-align: right; 
}

.page-header {
 background-image: url("/assets/images/gaia-header.jpg");
 background-size: contain;
 font-family: 'Montserrat Black', sans-serif; 
 color: white; 
}

body {
  font-family: 'Montserrat Regular', sans-serif;
   background-color: ededef;
}


.sect-wrap {
    display: flex;

  .text-wrap {
        flex: 1;
        display: flex;
        align-items: center;
       
    }
    .bg-img {
        flex: 1;
    }
}

.btn {
  background-color: #b36655;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

h1 {
  color: white; 
  text-align: left;
}
  

